@font-face {
  font-family: "iconfont"; /* Project id 3505786 */
  src: url('iconfont.woff2?t=1657603577475') format('woff2'),
       url('iconfont.woff?t=1657603577475') format('woff'),
       url('iconfont.ttf?t=1657603577475') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e67f";
}

.icon-bofang:before {
  content: "\e680";
}

.icon-caidanzhankai:before {
  content: "\e681";
}

.icon-bianji:before {
  content: "\e682";
}

.icon-caidanshouqi:before {
  content: "\e683";
}

.icon-chenggong:before {
  content: "\e684";
}

.icon-dingwei:before {
  content: "\e685";
}

.icon-bangzhu:before {
  content: "\e686";
}

.icon-dianhua:before {
  content: "\e687";
}

.icon-dicengjiagou:before {
  content: "\e688";
}

.icon-baocun:before {
  content: "\e689";
}

.icon-bingtu:before {
  content: "\e68a";
}

.icon-faxian:before {
  content: "\e68b";
}

.icon-dingdan:before {
  content: "\e68c";
}

.icon-biyan:before {
  content: "\e68d";
}

.icon-dianzan:before {
  content: "\e68e";
}

.icon-ditu:before {
  content: "\e68f";
}

.icon-danxuanxuanzhong:before {
  content: "\e690";
}

.icon-fenbushi:before {
  content: "\e691";
}

.icon-erweima:before {
  content: "\e692";
}

.icon-fapiaoguanli:before {
  content: "\e693";
}

.icon-gengduo:before {
  content: "\e694";
}

.icon-gonggao:before {
  content: "\e695";
}

.icon-fenxiang:before {
  content: "\e696";
}

.icon-fabu:before {
  content: "\e697";
}

.icon-fuwuqi:before {
  content: "\e698";
}

.icon-guanbi:before {
  content: "\e699";
}

.icon-jiekouzhongxin:before {
  content: "\e69a";
}

.icon-jinggao:before {
  content: "\e69b";
}

.icon-huati:before {
  content: "\e69c";
}

.icon-mima:before {
  content: "\e69d";
}

.icon-paihangbang:before {
  content: "\e69e";
}

.icon-gouwuche:before {
  content: "\e69f";
}

.icon-liebiao:before {
  content: "\e6a0";
}

.icon-hulianwang:before {
  content: "\e6a1";
}

.icon-gongsi:before {
  content: "\e6a2";
}

.icon-nan:before {
  content: "\e6a3";
}

.icon-nv:before {
  content: "\e6a4";
}

.icon-shaixuan:before {
  content: "\e6a5";
}

.icon-kabao:before {
  content: "\e6a6";
}

.icon-pinglun:before {
  content: "\e6a7";
}

.icon-jine:before {
  content: "\e6a8";
}

.icon-shangchuan:before {
  content: "\e6a9";
}

.icon-rili:before {
  content: "\e6aa";
}

.icon-shanchu:before {
  content: "\e6ab";
}

.icon-jiazaizhong:before {
  content: "\e6ac";
}

.icon-shequ:before {
  content: "\e6ad";
}

.icon-shangjiantou:before {
  content: "\e6ae";
}

.icon-shibai:before {
  content: "\e6af";
}

.icon-saoyisao:before {
  content: "\e6b0";
}

.icon-shouji:before {
  content: "\e6b1";
}

.icon-tishi:before {
  content: "\e6b2";
}

.icon-shouye:before {
  content: "\e6b3";
}

.icon-shuaxin:before {
  content: "\e6b4";
}

.icon-shuju:before {
  content: "\e6b5";
}

.icon-sousuo:before {
  content: "\e6b6";
}

.icon-shijian:before {
  content: "\e6b7";
}

.icon-shoucang:before {
  content: "\e6b8";
}

.icon-tuichu:before {
  content: "\e6b9";
}

.icon-shezhi:before {
  content: "\e6ba";
}

.icon-wuliu:before {
  content: "\e6bb";
}

.icon-xiajiantou:before {
  content: "\e6bc";
}

.icon-xiangji:before {
  content: "\e6bd";
}

.icon-weixuanzhong:before {
  content: "\e6be";
}

.icon-yanjing:before {
  content: "\e6bf";
}

.icon-yonghu:before {
  content: "\e6c0";
}

.icon-taolunqu:before {
  content: "\e6c1";
}

.icon-tupian:before {
  content: "\e6c2";
}

.icon-xiazai:before {
  content: "\e6c3";
}

.icon-xiaoxi:before {
  content: "\e6c4";
}

.icon-xuanzhong:before {
  content: "\e6c5";
}

.icon-xiaoxizhongxin:before {
  content: "\e6c6";
}

.icon-zhibo:before {
  content: "\e6c7";
}

.icon-wodeguanzhu:before {
  content: "\e6c8";
}

.icon-youjian:before {
  content: "\e6c9";
}

.icon-yingyongguanli:before {
  content: "\e6ca";
}

.icon-yinzhang:before {
  content: "\e6cb";
}

.icon-shujuku:before {
  content: "\e6cc";
}

.icon-yanzhengma:before {
  content: "\e6cd";
}

.icon-youjiantou:before {
  content: "\e6ce";
}

.icon-youhuiquan:before {
  content: "\e6cf";
}

.icon-zuojiantou:before {
  content: "\e6d0";
}

.icon-zengjia:before {
  content: "\e6d1";
}

.icon-zuzhijiagou:before {
  content: "\e6d2";
}

.icon-iconfontcenter:before {
  content: "\e63c";
}

.icon-setting:before {
  content: "\e645";
}

.icon-piechart_1:before {
  content: "\e676";
}

